html{background:#f2f2f2;color:#333;margin:0;padding:0;}
body{margin:0;padding:3.5em 0 0;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:18px;line-height:1.52947;font-weight:300;}
header#encabezado{background-color:rgba(34, 34, 34, 0.7);color:#fff;top:0;left:0;position:fixed;width:100%;z-index:99;}
h1{font-weight:100;padding:.25rem .25em;margin:0;}
#lnkcontacto{position:absolute;top:.5rem;right:1em;font-size:1.5em;}
#lnkcontacto a,#lnkcontacto a:visited{text-decoration:none;}
#lnkcontacto a:hover,#lnkcontacto a:focus{text-shadow:0 0 16px #fff;}
main{display:table;width:100%;}
section{padding:1em;height:80vh;position:relative;display:table-cell;vertical-align:bottom;background:transparent 50% 50% no-repeat;background-size:cover;}
h2,h3,h4,h5,h6,p,pre,blockquote{max-width:960px;margin-left:auto;margin-right:auto;}
a{cursor:pointer;}
blockquote{font-style:italic;}
blockquote+p{text-align:right;}
.linea{display:table-row;width:100%;}

section h2{color:#FFB742;text-shadow:0px 2px 2px rgba(0,0,0,.69);margin-bottom:0;}
section .texto{color:#f2f2f2;background:rgba(0,0,0,.90);max-width:1000px;padding:.25rem 1em;margin:0 auto;letter-spacing:.05em;border-radius:6px;-webkit-transition:all .5s;transition:all .5s;}
.linea:nth-child(odd) section{z-index:2;box-shadow:1px 2px 16px #000;border-bottom: 1px solid #222;}
.linea:nth-child(even) section{z-index:1;}

.invisible{opacity:0;transform:translate3d(0, -100%, 0);}
.full-visible{opacity:1;transform:none;}

@media (min-width:2561px)
{
  section#desarrolloweb{background-image:url(img/img-desarrolloweb-4032x3024-q69.jpg);}
  section#diseñoeditorial{background-image:url(img/img-editorial-3840x2400-q30.jpg);}
  section#vectorizacion{background-image:url(img/img-vectorizacion-4032x3024-q20.jpg);}
  section#fotoyvideo{background-image:url(img/img-fotoyvideo-3840x2400-q45.jpg);}
}
@media (min-width:1601px) and (max-width:2560px)
{
  section#desarrolloweb
  {
    background-image:url(img/img-desarrolloweb-2560x1920-q66.jpg);
    background-image:-webkit-image-set(url(img/img-desarrolloweb-2560x1920-q66.jpg) 1x, url(img/img-desarrolloweb-4032x3024-q69.jpg) 2x);
  }
  section#diseñoeditorial
  {
    background-image:url(img/img-editorial-2560x1600-q66.jpg);
    background-image:-webkit-image-set(url(img/img-editorial-2560x1600-q66.jpg) 1x, url(img/img-editorial-3840x2400-q30.jpg) 2x);
  }
  section#vectorizacion
  {
    background-image:url(img/img-vectorizacion-2560x1920-q33.jpg);
    background-image:-webkit-image-set(url(img/img-vectorizacion-2560x1920-q33.jpg) 1x, url(img/img-vectorizacion-4032x3024-q20.jpg) 2x);
  }
  section#fotoyvideo
  {
    background-image:url(img/img-fotoyvideo-2560x1600-q33.jpg);
    background-image:-webkit-image-set(url(img/img-fotoyvideo-2560x1600-q33.jpg) 1x, url(img/img-fotoyvideo-3840x2400-q45.jpg) 2x);
  }
}
@media (min-width:1281px) and (max-width:1600px)
{
  section#desarrolloweb
  {
    background-image:url(img/img-desarrolloweb-1600x1200-q85.jpg);
    background-image:-webkit-image-set(url(img/img-desarrolloweb-1600x1200-q85.jpg) 1x, url(img/img-desarrolloweb-3200x2400-q66.jpg) 2x);
  }
  section#diseñoeditorial
  {
    background-image:url(img/img-editorial-1600x1000-q66.jpg);
    background-image:-webkit-image-set(url(img/img-editorial-1600x1000-q66.jpg) 1x, url(img/img-editorial-3200x2000-q33.jpg) 2x);
  }
  section#vectorizacion
  {
    background-image:url(img/img-vectorizacion-1600x1200-q66.jpg);
    background-image:-webkit-image-set(url(img/img-vectorizacion-1600x1200-q66.jpg) 1x, url(img/img-vectorizacion-3200x2400-q20.jpg) 2x);
  }
  section#fotoyvideo
  {
    background-image:url(img/img-fotoyvideo-1600x1000-q66.jpg);
    background-image:-webkit-image-set(url(img/img-fotoyvideo-1600x1000-q66.jpg) 1x, url(img/img-fotoyvideo-3200x2000-q45.jpg) 2x);
  }
}
@media (min-width:801px) and (max-width:1280px)
{
  section#desarrolloweb
  {
    background-image:url(img/img-desarrolloweb-1280x960-q85.jpg);
    background-image:-webkit-image-set(url(img/img-desarrolloweb-1280x960-q85.jpg) 1x, url(img/img-desarrolloweb-2560x1920-q66.jpg) 2x);
  }
  section#diseñoeditorial
  {
    background-image:url(img/img-editorial-1280x800-q85.jpg);
    background-image:-webkit-image-set(url(img/img-editorial-1280x800-q85.jpg) 1x, url(img/img-editorial-2560x1600-q66.jpg) 2x);
  }
  section#vectorizacion
  {
    background-image:url(img/img-vectorizacion-1280x960-q85.jpg);
    background-image:-webkit-image-set(url(img/img-vectorizacion-1280x960-q85.jpg) 1x, url(img/img-vectorizacion-2560x1920-q33.jpg) 2x);
  }
  section#fotoyvideo
  {
    background-image:url(img/img-fotoyvideo-1280x800-q85.jpg);
    background-image:-webkit-image-set(url(img/img-fotoyvideo-1280x800-q85.jpg) 1x, url(img/img-fotoyvideo-2560x1600-q33.jpg) 2x);
  }
}
@media (min-width:641px) and (max-width:800px)
{
  section#desarrolloweb
  {
    background-image:url(img/img-desarrolloweb-800x600-q85.jpg);
    background-image:-webkit-image-set(url(img/img-desarrolloweb-800x600-q85.jpg) 1x, url(img/img-desarrolloweb-1600x1200-q85.jpg) 2x);
  }
  section#diseñoeditorial
  {
    background-image:url(img/img-editorial-800x500-q85.jpg);
    background-image:-webkit-image-set(url(img/img-editorial-800x500-q85.jpg) 1x, url(img/img-editorial-1600x1000-q66.jpg) 2x);
  }
  section#vectorizacion
  {
    background-image:url(img/img-vectorizacion-800x600-q85.jpg);
    background-image:-webkit-image-set(url(img/img-vectorizacion-800x600-q85.jpg) 1x, url(img/img-vectorizacion-1600x1200-q66.jpg) 2x);
  }
  section#fotoyvideo
  {
    background-image:url(img/img-fotoyvideo-800x500-q85.jpg);
    background-image:-webkit-image-set(url(img/img-fotoyvideo-800x500-q85.jpg) 1x, url(img/img-fotoyvideo-1600x1000-q66.jpg) 2x);
  }
}
@media (max-width:640px)
{
  section#desarrolloweb
  {
    background-image:url(img/img-desarrolloweb-640x480-q85.jpg);
    background-image:-webkit-image-set(url(img/img-desarrolloweb-640x480-q85.jpg) 1x, url(img/img-desarrolloweb-1280x960-q85.jpg) 2x);
  }
  section#diseñoeditorial
  {
    background-image:url(img/img-editorial-640x400-q85.jpg);
    background-image:-webkit-image-set(url(img/img-editorial-640x400-q85.jpg) 1x, url(img/img-editorial-1280x800-q85.jpg) 2x);
  }
  section#vectorizacion
  {
    background-image:url(img/img-vectorizacion-640x480-q85.jpg);
    background-image:-webkit-image-set(url(img/img-vectorizacion-640x480-q85.jpg) 1x, url(img/img-vectorizacion-1280x960-q85.jpg) 2x);
  }
  section#fotoyvideo
  {
    background-image:url(img/img-fotoyvideo-640x400-q85.jpg);
    background-image:-webkit-image-set(url(img/img-fotoyvideo-640x400-q85.jpg) 1x, url(img/img-fotoyvideo-1280x800-q85.jpg) 2x);
  }
}