/* ------------- General ------------- */
@font-face {
	font-family: "cs-ctrl-basic";
	src: url("fuentes/cs-ctrl-basic.eot");
	src: url("fuentes/cs-ctrl-basic.eot#iefix") format("embedded-opentype"),
			url("fuentes/cs-ctrl-basic.woff") format("woff"),
			url("fuentes/cs-ctrl-basic.ttf") format("truetype"),
			url("fuentes/cs-ctrl-basic.svg#basic") format("svg");
	font-weight: normal;
	font-style: normal;
}

.slider-servicios {
  display: inline-block;
  position: relative;
  height: 56.25vw;
  width: 100%;
  background:#000;
}
.slider-servicios,
.slider-servicios *,
.slider-servicios *:after,
.slider-servicios *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.slider-servicios > .cs_anchor {
  display: none;
}
.slider-servicios > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.slider-servicios > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}
.slider-servicios > ul > .slide.img img {
  width: 100%;
}



.slider-servicios > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.slider-servicios > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slider-servicios .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.slider-servicios > ul > li.img,
.slider-servicios > .cs_arrowprev,
.slider-servicios > .cs_arrownext,
.slider-servicios > .cs_bullets,
.slider-servicios > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.slider-servicios > .cs_arrowprev,
.slider-servicios > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.slider-servicios > .cs_arrowprev > label,
.slider-servicios > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.slider-servicios > .cs_arrowprev {
  left: 0;
}
.slider-servicios > .cs_arrownext {
  right: 0;
}

.slider-servicios > .slide:checked ~ .cs_arrowprev > label,
.slider-servicios > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.slider-servicios > #cs_slide1_0:checked ~ .cs_arrowprev > label.num3,
.slider-servicios > #cs_pause1_0:checked ~ .cs_arrowprev > label.num3,
.slider-servicios > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.slider-servicios > #cs_pause1_0:checked ~ .cs_arrownext > label.num1,
.slider-servicios > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.slider-servicios > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.slider-servicios > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.slider-servicios > #cs_pause1_1:checked ~ .cs_arrownext > label.num2,
.slider-servicios > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.slider-servicios > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.slider-servicios > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.slider-servicios > #cs_pause1_2:checked ~ .cs_arrownext > label.num3,
.slider-servicios > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.slider-servicios > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.slider-servicios > #cs_slide1_3:checked ~ .cs_arrownext > label.num0,
.slider-servicios > #cs_pause1_3:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow1 {
  0%, 24.99% { opacity: 1; z-index: 5; }
  25%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow1 {
  0%, 24.99% { opacity: 1; z-index: 5; }
  25%, 100%  { opacity: 0; z-index: -1; }
}


.slider-servicios > #cs_play1:checked ~ .cs_arrowprev > label.num3,
.slider-servicios > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow1 32000ms infinite -2000ms;
  animation: arrow1 32000ms infinite -2000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.slider-servicios > #cs_play1:checked ~ .cs_arrownext > label.num2 {
  -webkit-animation: arrow1 32000ms infinite 6000ms;
  animation: arrow1 32000ms infinite 6000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.slider-servicios > #cs_play1:checked ~ .cs_arrownext > label.num3 {
  -webkit-animation: arrow1 32000ms infinite 14000ms;
  animation: arrow1 32000ms infinite 14000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.slider-servicios > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow1 32000ms infinite 22000ms;
  animation: arrow1 32000ms infinite 22000ms;
}


.slider-servicios > .slide:checked ~ .cs_arrowprev > label,
.slider-servicios > .slide:checked ~ .cs_arrownext > label,
.slider-servicios > .pause:checked ~ .cs_arrowprev > label,
.slider-servicios > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.slider-servicios > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.slider-servicios > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.slider-servicios > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.slider-servicios > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -42.5px;
  top: -48px;
}
.slider-servicios > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.slider-servicios > .cs_description {
  z-index: 3;
}
.slider-servicios > .cs_description a,
.slider-servicios > .cs_description a:visited,
.slider-servicios > .cs_description a:active {
  color: inherit;
}
.slider-servicios > .cs_description a:hover {
  text-decoration: none;
}
.slider-servicios > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.slider-servicios > .cs_description > label > span {
  vertical-align: top;
}
.slider-servicios > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- General Play Pause ------------- */
.slider-servicios > .cs_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.slider-servicios > .cs_play_pause > label {
  position: absolute;
  cursor: pointer;
}
.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
.slider-servicios > .slide:checked ~ .cs_play_pause > .cs_play,
.slider-servicios > .pause:checked ~ .cs_play_pause > .cs_play {
  display: block;
  z-index: 5;
}
.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_play,
.slider-servicios > .slide:checked ~ .cs_play_pause > .cs_pause,
.slider-servicios > .pause:checked ~ .cs_play_pause > .cs_pause {
  display: none;
  z-index: -1;
}



@-webkit-keyframes pauseChange1 {
  0%, 24.99% { opacity: 1; z-index: 5; }
  25%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes pauseChange1 {
  0%, 24.99% { opacity: 1; z-index: 5; }
  25%, 100%  { opacity: 0; z-index: -1; }
}


.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange1 32000ms infinite -2000ms;
  animation: pauseChange1 32000ms infinite -2000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange1 32000ms infinite 6000ms;
  animation: pauseChange1 32000ms infinite 6000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num2 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange1 32000ms infinite 14000ms;
  animation: pauseChange1 32000ms infinite 14000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num3 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange1 32000ms infinite 22000ms;
  animation: pauseChange1 32000ms infinite 22000ms;
}


.slider-servicios > .slide:checked ~ .cs_play_pause > .cs_pause,
.slider-servicios > .pause:checked ~ .cs_play_pause > .cs_pause {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- General Gestures ------------- */
.slider-servicios.cs_handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
.slider-servicios.cs_handle.cs_grab {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}


.slider-servicios .cs_gestures {
  visibility: hidden;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;

  -webkit-transition: visibility .3s linear, opacity .3s linear;
  transition: visibility .3s linear, opacity .3s linear;
}
.slider-servicios .cs_gestures.cs_show {
  visibility: visible;
  opacity: 1;
}
.slider-servicios .cs_gestures.cs_show img {
  width: 25%;
}
.slider-servicios .cs_gestures.cs_show .cs_first_img {
  position: absolute;
  left: -25%;
  top: 0;
}
.slider-servicios .cs_gestures.cs_show .cs_last_img {
  position: absolute;
  left: 100%;
  top: 0;
}

.slider-servicios .cs_gestures > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 400%;
}
/* ------------- /General Gestures ------------- */

/* ------------- Effect ------------- */
.slider-servicios > ul {
  overflow: hidden;
}

.slider-servicios > ul > .slide {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  opacity: 0;
  z-index: 1;

  -webkit-transition: -webkit-transform 2000ms ease, opacity 2000ms ease;
  transition: -webkit-transform 2000ms ease, transform 2000ms ease, opacity 2000ms ease;

  -webkit-transform: scale(2);
  transform: scale(2);
}


.slider-servicios > #cs_slide1_0:checked ~ ul > .slide.num0,
.slider-servicios > #cs_pause1_0:checked ~ ul > .slide.num0,
.slider-servicios > #cs_slide1_1:checked ~ ul > .slide.num1,
.slider-servicios > #cs_pause1_1:checked ~ ul > .slide.num1,
.slider-servicios > #cs_slide1_2:checked ~ ul > .slide.num2,
.slider-servicios > #cs_pause1_2:checked ~ ul > .slide.num2,
.slider-servicios > #cs_slide1_3:checked ~ ul > .slide.num3,
.slider-servicios > #cs_pause1_3:checked ~ ul > .slide.num3 {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
}




@-webkit-keyframes fade-in1 {
  0%, 31.25%, 100%  {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  6.25%, 25%  {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0%, 24.999%  { z-index: 2; }
  25.001%, 100%  { z-index: 1; }
}
@keyframes fade-in1 {
  0%, 31.25%, 100%  {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  6.25%, 25%  {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0%, 24.999%  { z-index: 2; }
  25.001%, 100%  { z-index: 1; }
}

.slider-servicios > #cs_play1:checked ~ ul > .slide.num0 {
  -webkit-animation: fade-in1 32000ms infinite -2000ms;
  animation: fade-in1 32000ms infinite -2000ms;
}
.slider-servicios > #cs_play1:checked ~ ul > .slide.num1 {
  -webkit-animation: fade-in1 32000ms infinite 6000ms;
  animation: fade-in1 32000ms infinite 6000ms;
}
.slider-servicios > #cs_play1:checked ~ ul > .slide.num2 {
  -webkit-animation: fade-in1 32000ms infinite 14000ms;
  animation: fade-in1 32000ms infinite 14000ms;
}
.slider-servicios > #cs_play1:checked ~ ul > .slide.num3 {
  -webkit-animation: fade-in1 32000ms infinite 22000ms;
  animation: fade-in1 32000ms infinite 22000ms;
}



.slider-servicios > #cs_play1:checked ~ ul > .slide,
.slider-servicios > .pause:checked ~ ul > .slide {
  -webkit-transition: none;
  transition: none;
}


/* ------------- /Effect ------------- */

/* ------------- Template Arrows ------------- */
.slider-servicios > .cs_arrowprev > label,
.slider-servicios > .cs_arrownext > label {
  padding: 17px;
  height: 23px;
  width: 23px;
  margin-top: -28px;
  margin-left: -28px;

  background-color:rgba(48, 48, 48, .69);

  border-radius: 50%;
}
.slider-servicios > .cs_arrowprev > label,
.slider-servicios > .cs_arrownext > label,
.slider-servicios > .cs_arrowprev > label span:after,
.slider-servicios > .cs_arrownext > label span:after {
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.slider-servicios > .cs_arrowprev {
  margin-left: 2px;
  left: 45px;
}
.slider-servicios > .cs_arrownext {
  margin-right: 2px;
  right: 45px;
}
.slider-servicios > .cs_arrowprev > label span,
.slider-servicios > .cs_arrownext > label span {
  display: block;
  color: #CCC;
}
.slider-servicios > .cs_arrowprev > label span:after,
.slider-servicios > .cs_arrownext > label span:after {
  display: block;
  font: 21px "cs-ctrl-basic";
  line-height: 23px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .slider-servicios > .cs_arrowprev > label span:after {
  line-height: 29px;
}
_:-ms-input-placeholder, :root .slider-servicios > .cs_arrownext > label span:after {
  line-height: 29px;
}

.slider-servicios > .cs_arrowprev > label span:after {
  content: '\e800';
}
.slider-servicios > .cs_arrownext > label span:after {
  content: '\e801';
}

.slider-servicios > .cs_arrowprev:hover > label,
.slider-servicios > .cs_arrownext:hover > label {
  background-color: #000;
}

.slider-servicios > .cs_arrownext:hover > label span {
  color: #FFF;
  -webkit-animation: nextArrow1 .7s infinite ease-in-out;
  animation: nextArrow1 .7s infinite ease-in-out;
}
.slider-servicios > .cs_arrowprev:hover > label span {
  color: #FFF;
  -webkit-animation: prevArrow1 .7s infinite ease-in-out;
  animation: prevArrow1 .7s infinite ease-in-out;
}


@keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-webkit-keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Play Pause ------------- */
.slider-servicios > .cs_play_pause > label{
  text-decoration: none;
  padding: 17px;
  height: 23px;
  width: 23px;
  margin-top: -28px;
  margin-left: -28px;
  background-color: rgba(48, 48, 48, .69);;
  border-radius: 50%;
}
.slider-servicios > .cs_play_pause > label,
.slider-servicios > .cs_play_pause > label span:after {
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.slider-servicios > .cs_play_pause > label span {
  display: block;
  color: #CCC;
}
.slider-servicios > .cs_play_pause > label span:after{
  display: block;
  font: 15px "cs-ctrl-basic";
  line-height: 25px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .slider-servicios > .cs_play_pause > label span:after {
  line-height: 28px;
}
.slider-servicios > .cs_play_pause > .cs_play span:after {
  content: '\e802';
}
.slider-servicios > .cs_play_pause > .cs_pause span:after {
  content: '\e803';
}

.slider-servicios > .cs_play_pause:hover > label {
  background-color: #000;
}
.slider-servicios > .cs_play_pause:hover > label span {
  color: #FFF;
  -wibkit-animation: playPause1 .7s infinite ease-in-out;
  animation: playPause1 .7s infinite ease-in-out;
}

@-webkit-keyframes playPause1 {
  0%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  25% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  75% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
}
@keyframes playPause1 {
  0%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  25% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  75% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
}
/* ------------- /Template Play Pause ------------- */

/* ------------- Template Bullets ------------- */
.slider-servicios > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
}
.slider-servicios > .cs_bullets > label {
  border-radius: 50%;
  margin: 0 5px;
  padding: 9px;
  background: rgba(48, 48, 48, .69);
}




.slider-servicios > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  background: transparent;
  border-radius: 50%;
  padding: 2px;
}

.slider-servicios > .cs_bullets > label:hover > .cs_point,

.slider-servicios > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.slider-servicios > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.slider-servicios > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.slider-servicios > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.slider-servicios > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.slider-servicios > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.slider-servicios > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.slider-servicios > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point {
  background: #FFF;
}




@keyframes bullet1 {
  0%, 24.99%  { background: rgba(48, 48, 48, .69); }
  25%, 100% { background: transparent; }
}
@-webkit-keyframes bullet1 {
  0%, 24.99%  { background: rgba(48, 48, 48, .69); }
  25%, 100% { background: transparent; }
}

.slider-servicios > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.slider-servicios > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite -2000ms;
  animation: bullet1 32000ms infinite -2000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.slider-servicios > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 6000ms;
  animation: bullet1 32000ms infinite 6000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point,
.slider-servicios > #cs_pause1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 14000ms;
  animation: bullet1 32000ms infinite 14000ms;
}
.slider-servicios > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point,
.slider-servicios > #cs_pause1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 22000ms;
  animation: bullet1 32000ms infinite 22000ms;
}



.slider-servicios > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.slider-servicios > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-transition: none;
  transition: none;
}


.slider-servicios > .slide:checked ~ .cs_bullets > label > .cs_point,
.slider-servicios > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */

/* ------------- Template Description ------------- */


.slider-servicios > .cs_description > label {
  line-height: normal;
  bottom: 50px;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider-servicios > .cs_description > label > span {
  color: #FFF;
  position: relative;
  padding: .5em 1em;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.slider-servicios > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.slider-servicios > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.slider-servicios > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.slider-servicios > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.slider-servicios > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.slider-servicios > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.slider-servicios > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.slider-servicios > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.slider-servicios > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.slider-servicios > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.slider-servicios > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.slider-servicios > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.slider-servicios > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.slider-servicios > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.slider-servicios > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.slider-servicios > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.slider-servicios > #cs_slide1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.slider-servicios > #cs_pause1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.slider-servicios > #cs_slide1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.slider-servicios > #cs_pause1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.slider-servicios > #cs_slide1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.slider-servicios > #cs_pause1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.slider-servicios > #cs_slide1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.slider-servicios > #cs_pause1_3:checked ~ .cs_description > .num3 .cs_wrapper {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider-servicios > .cs_description > label > .cs_title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  background-color: #000;
  border-top:1px solid #ccc;
  margin: -5px auto;
  display:block;
  width:max-content;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);

  -webkit-transition:
    950ms opacity 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.slider-servicios > .cs_description > label > .cs_title > .cs_wrapper {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);

  -webkit-transition:
    950ms opacity 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.slider-servicios > .cs_description > label > .cs_descr{
	padding:0;
	width:100%;
}

.slider-servicios > .cs_description > label > .cs_descr > .cs_wrapper {
	background:#000;
	display:block;
	padding:.5em 1em;
	border-radius:10px;
	border-top:1px solid #ccc;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);

  -webkit-transition:
    950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}




@-webkit-keyframes cs_title1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  26.494375%, 100%  { z-index: 0; }
}
@keyframes cs_title1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  26.494375%, 100%  { z-index: 0; }
}


@-webkit-keyframes cs_descr1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  26.494375%, 100%  { z-index: 0; }
}
@keyframes cs_descr1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  26.494375%, 100%  { z-index: 0; }
}


.slider-servicios > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -webkit-animation: cs_title1 32000ms infinite -1400ms ease;
  animation: cs_title1 32000ms infinite -1400ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -webkit-animation: cs_title1 32000ms infinite 6600ms ease;
  animation: cs_title1 32000ms infinite 6600ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -webkit-animation: cs_title1 32000ms infinite 14600ms ease;
  animation: cs_title1 32000ms infinite 14600ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num3  > .cs_title {
  -webkit-animation: cs_title1 32000ms infinite 22600ms ease;
  animation: cs_title1 32000ms infinite 22600ms ease;
}


.slider-servicios > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -webkit-animation: cs_descr1 32000ms infinite -1150ms ease;
  animation: cs_descr1 32000ms infinite -1150ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -webkit-animation: cs_descr1 32000ms infinite 6850ms ease;
  animation: cs_descr1 32000ms infinite 6850ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -webkit-animation: cs_descr1 32000ms infinite 14850ms ease;
  animation: cs_descr1 32000ms infinite 14850ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num3  > .cs_descr {
  -webkit-animation: cs_descr1 32000ms infinite 22850ms ease;
  animation: cs_descr1 32000ms infinite 22850ms ease;
}




@-webkit-keyframes cs_title_text1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes cs_title_text1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}


@-webkit-keyframes cs_descr_text1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes cs_descr_text1 {
  1.0390625%, 23.9509375%  {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  1.484375%, 23.505625%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  26.484375%  {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}


.slider-servicios > #cs_play1:checked ~ .cs_description > .num0 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text1 32000ms infinite -1250ms ease;
  animation: cs_title_text1 32000ms infinite -1250ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num1 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text1 32000ms infinite 6750ms ease;
  animation: cs_title_text1 32000ms infinite 6750ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num2 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text1 32000ms infinite 14750ms ease;
  animation: cs_title_text1 32000ms infinite 14750ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num3 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text1 32000ms infinite 22750ms ease;
  animation: cs_title_text1 32000ms infinite 22750ms ease;
}


.slider-servicios > #cs_play1:checked ~ .cs_description > .num0 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text1 32000ms infinite -1000ms ease;
  animation: cs_descr_text1 32000ms infinite -1000ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num1 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text1 32000ms infinite 7000ms ease;
  animation: cs_descr_text1 32000ms infinite 7000ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num2 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text1 32000ms infinite 15000ms ease;
  animation: cs_descr_text1 32000ms infinite 15000ms ease;
}
.slider-servicios > #cs_play1:checked ~ .cs_description > .num3 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text1 32000ms infinite 23000ms ease;
  animation: cs_descr_text1 32000ms infinite 23000ms ease;
}




.slider-servicios > #cs_play1:checked ~ .cs_description > label > .cs_title,
.slider-servicios > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.slider-servicios > #cs_play1:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.slider-servicios > #cs_play1:checked ~ .cs_description > label > .cs_descr > .cs_wrapper,
.slider-servicios > .pause:checked ~ .cs_description > label > .cs_title,
.slider-servicios > .pause:checked ~ .cs_description > label > .cs_descr,
.slider-servicios > .pause:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.slider-servicios > .pause:checked ~ .cs_description > label > .cs_descr > .cs_wrapper {
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) {
  .slider-servicios > .cs_description,
  .slider-servicios > .cs_bullets {
    display: none;
  }
}